h1 {
   color: rgb(255, 102, 0);
   font-size: 40px;
   text-align: center;
}
#lab {
    background-color: yellow;
    text-align: center;
}
.clib {
      color: red;
      font-weight: bold;
}


.text {
  color: green;
}

.big {
  color: rgb(30, 0, 255);
}

/* высокий приоритет */
#my-text {
  color: red;
}