h1 {
    color: aqua;
    text-align: center;

    }


p {
    font-size: 16px;
    font-weight: bold;
}
.conteiner {
    background-color: lightgray;
    background-image: url('pink.jpg');
}
div {
    padding: 15px;
    border: 1px solid black;
    margin: 20px;
}
.small {
        width: 60px;
        height: 80px;
        overflow: hidden;

}
 .medium {
        width: 50px;
        height: 90px;
        overflow: scroll;
 }
 .large {
        width: 350px;
        height: 200px;
        overflow: hidden;}